/* @theme intelligence */

@import "default";

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

/* Variables */
:root {
  font-family: "Red Hat Display", "Pretendard", sans-serif;
  --color-blue: #0d9dfc;
  --color-purple: #9474fc;
  --color-red: #f75a5f;
  --color-orange: #f79f24;
  --grad: linear-gradient(
    -30deg,
    var(--color-orange),
    var(--color-red),
    var(--color-purple),
    var(--color-blue)
  );
}

h1,
h2,
h3,
strong {
  font-weight: 900;
}

p,
ul,
li {
  font-weight: 500;
}

section {
  padding: 0;
  justify-content: start;
  width: 1920px;
  height: 1080px;
}

section[id="1"] > h1:first-child {
  background: var(--grad);
  color: white;
  font-size: 140px;
  text-align: center;
  padding: 500px 250px 10px 250px;
}

section[id="1"] > p {
  font-size: 40px;
  text-align: end;
  padding: 10px 250px;
}

section[id="1"].long-title > h1:first-child {
  font-size: 90px;
  padding-top: 380px;
}

section:not([id="1"]) > h2:first-child {
  background: var(--grad);
  color: white;
  font-size: 90px;
  padding: 60px 120px;
}

section:not([id="1"]) > :where(p, ul) {
  padding: 15px 120px;
  font-size: 50px;
}

section:not([id="1"]) > ul {
  padding-left: 180px;
}

section:not([id="1"]) > ul > li > ul {
  font-size: 40px;
}

section:not([id="1"]) > ul > li > ul > li > ul {
  font-size: 30px;
}

p:has(> img) {
  display: flex;
  justify-content: space-around;
}

footer {
  font-size: 26px;
}

span {
  color: var(--color-red);
}

em {
  font-style: normal;
  color: var(--color-red);
}

code,
marp-pre {
  font-family: "Nanum Gothic Coding", monospace;
}

marp-pre {
  font-size: 40px;
  margin: 0 120px;
}
